@model Data.Models.utilisateur

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDelivrance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDelivrance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etatCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etatCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieuDelivrance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuDelivrance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieuNassance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuNassance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationnalite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationnalite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paysOrigine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paysOrigine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salaireParSession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salaireParSession)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
