@model Data.Models.offre

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutfront.cshtml";
}
<div id="navbar" class="navbar-collapse collapse">
    <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
        <li><a href="@Url.Content("~/Home")">Home</a></li>
        <li><a href="@Url.Content("~/TrainingSession")">Training Session</a></li>
        <li><a href="@Url.Content("~/Training")">Training</a></li>
        <li><a href="@Url.Content("~/Trainer")">Trainer</a></li>
        <li><a href="@Url.Content("~/SendMail")">Mail</a></li>
        <li><a href="@Url.Content("~/SendSms/sms")">Sms</a></li>
        <li><a href="@Url.Content("~/Materiel")">Material</a></li>
        <li><a href="@Url.Content("~/Chart")">Statistique&Reporting</a></li>
        <li><a href="@Url.Content("~/Contrat")">Contracts</a></li>
        <li class="active"><a href="@Url.Content("~/Offre")">Offer</a></li>
        <li><a href="@Url.Content("~/Employee")">Employee</a></li>
        <li><a href="@Url.Content("~/Candidature")">Candidacy</a></li>
        @Html.Partial("_LoginPartial")

    </ul>
</div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
<!-- END MENU -->
<!-- BEGIN SLIDER AREA-->
        </header>
<!--=========== End HEADER SECTION ================-->
<!--=========== BEGIN ABOUT SECTION ================-->
<div style="margin-top:50px">
    <section id="pricing" style="height:1000px">
        <div class="container">
            <div class="row col-lg-12 col-md-12">
                <!-- START ABOUT HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Create Offer</h2>
                </div>
            </div>


            <div class="row col-lg-12 col-md-12" style="margin-left:250px">
                <div class="pricing_area">
                    <div class="row">
                        <!-- BEGAIN BASIC PRICE TABLE -->


                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="single_price wow fadeInUp" style="width:500px;">


                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">

                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.nomOf, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.nomOf, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.nomOf, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.descOf, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.descOf, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.descOf, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

    </section>
