@model IEnumerable<Data.Models.contrat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutfront.cshtml";
}
<div id="navbar" class="navbar-collapse collapse">
    <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
        <li><a href="@Url.Content("~/Home")">Home</a></li>
        <li><a href="@Url.Content("~/TrainingSession")">Training Session</a></li>
        <li><a href="@Url.Content("~/Training")">Training</a></li>
        <li><a href="@Url.Content("~/Trainer")">Trainer</a></li>
        <li><a href="@Url.Content("~/SendMail")">Mail</a></li>
        <li><a href="@Url.Content("~/SendSms/sms")">Sms</a></li>
        <li><a href="@Url.Content("~/Materiel")">Material</a></li>
        <li><a href="@Url.Content("~/Chart")">Statistique&Reporting</a></li>
        <li class="active"><a href="@Url.Content("~/Contrat")">Contracts</a></li>
        <li><a href="@Url.Content("~/Offre")">Offer</a></li>
        <li><a href="@Url.Content("~/Employee")">Employee</a></li>
        <li><a href="@Url.Content("~/Candidature")">Candidacy</a></li>
        @Html.Partial("_LoginPartial")

    </ul>
</div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
<!-- END MENU -->
<!-- BEGIN SLIDER AREA-->
        </header>
<!--=========== End HEADER SECTION ================-->
<!--=========== BEGIN ABOUT SECTION ================-->
<div style="margin-top:50px">
    <section id="blog" style="height:1000px;background-image:url(/Content/frontoffice/img/contrat.jpg);background-size:cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- START BLOG HEADING -->
                    <div class="heading">
                        <h2 class="wow fadeInLeftBig">List Of Contracts</h2>
                        <p>Each employee must complete the contact information is in the contract.</p>
                        <br />

                    </div>
                </div>


                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>

                <table class="table">
                    <tr>
                        <th>
                            <label>Last Name</label>
                        </th>
                        <th>
                            <label>First Name</label>
                        </th>
                        <th>
                            <label>Phone</label>
                        </th>
                        <th>
                            <label>Mobile Phone</label>
                        </th>
                        <th>
                            <label>Zip Code</label>
                        </th>
                        <th>
                            <label>City</label>
                        </th>
                        <th>
                            <label>Country</label>
                        </th>
                        <th>
                            <label>Registration Number</label>
                        </th>

                        <th>
                            <label>Bank Branch</label>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.prenom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.N_GSM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telephone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.codePostal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ville)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.matricule)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Banque)
                            </td>
                            <td>
                                @Html.ActionLink("Show", "Show", new { id = item.idContrat }) |
                                @Html.ActionLink("Edit", "Edit", new { id = item.idContrat }) |
                                @Html.ActionLink("Details", "Details", new { id = item.idContrat }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.idContrat })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </section>
