@model Data.Models.utilisateur

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutfront.cshtml";
}
<div id="navbar" class="navbar-collapse collapse">
    <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
        <li><a href="@Url.Content("~/Home")">Home</a></li>
        <li><a href="@Url.Content("~/TrainingSession")">Training Session</a></li>
        <li><a href="@Url.Content("~/Training")">Training</a></li>
        <li><a href="@Url.Content("~/Trainer")">Trainer</a></li>
        <li><a href="@Url.Content("~/SendMail")">Mail</a></li>
        <li><a href="@Url.Content("~/SendSms/sms")">Sms</a></li>
        <li><a href="@Url.Content("~/Materiel")">Material</a></li>
        <li><a href="@Url.Content("~/Chart")">Statistique&Reporting</a></li>
        <li><a href="@Url.Content("~/Contrat")">Contracts</a></li>
        <li><a href="@Url.Content("~/Offre")">Offer</a></li>
        <li class="active"><a href="@Url.Content("~/Employee")">Employee</a></li>
        <li><a href="@Url.Content("~/Candidature")">Candidacy</a></li>
        @Html.Partial("_LoginPartial")

    </ul>
</div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
<!-- END MENU -->
<!-- BEGIN SLIDER AREA-->
        </header>
<!--=========== End HEADER SECTION ================-->
<!--=========== BEGIN ABOUT SECTION ================-->
<div style="margin-top:50px">
    <section id="blog" style="height:1000px;background-image:url(/Content/frontoffice/img/hr.jpg);background-size:cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- START BLOG HEADING -->
                    <div class="heading">
                        <h2 class="wow fadeInLeftBig">Deatails Of Employee</h2>
                        <p>Human resources is the set of individuals who make up the workforce of a bank. "Human capital" is sometimes used synonymously with human resources.</p>
                        <br />

                    </div>
                </div>
                <div>

                    <hr />
                    <dl class="dl-horizontal">


                        <dd>
                            @Html.DisplayFor(model => model.DTYPE)
                        </dd>



                        <dd>
                            @Html.DisplayFor(model => model.idUser)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Adress)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Adress)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.firstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.firstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.lastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.lastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mail)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mail)
                        </dd>



                        <dt>
                            @Html.DisplayNameFor(model => model.tel)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tel)
                        </dd>



                        <dt>
                            @Html.DisplayNameFor(model => model.cin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cin)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.dureeDheursTrll)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.dureeDheursTrll)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.salaireEmp)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.salaireEmp)
                        </dd>


                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.idUser }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>

    </section>
